<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
<!-- 
    google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Template js css html page</title>

</head>
<body>
    <!-- hamburger menu button -->
    <button id="hamburger" class="hamburger" onclick="handleNav()"></button>

    <!-- navigation element
     -->

     <nav id="main-nav" class= "main-nav">
         <a href="#" onclick="handleNav()">Home</a>
         <a href="#" onclick="handleNav()">About</a>
         <a href="#" onclick="handleNav()">Creator</a>
         <a href="#" onclick="handleNav()">Support</a>
     </nav>

     <main class="home">
        <section class="home_info">
            <header class="home_header">
                <h1 class="home_title">Main home page title goes here</h1>
                <span class="home_spacer"></span>
                <p class="home_subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                
                <!-- anchor tag for CTA -->
                <a href="#" class="home_cta">Click Here</a>
            </header>
        </section>

        <section class="home_cards">
            <div class="group-one">
                <div class="home_card homesquare">
                    <header>
                        <img src="./images/idris1.jpeg" alt="Idris Elba">
                            <h3><a href="#">Idris Elba</a></h3>
                       
                    </header>
                </div>
    
                    <div class="home_card homelarge">
                        <header>
                            <img src="./images/magsprofile.jpeg" alt="Margaret Profile">
                            <h3><a href="#">Margaret Thatcher</a></h3>
                            
                        </header>
                    </div>
                </div>
                <div class="group-two">
                    <div class="home_card homelarge">
                        <header>
                            <img src="./images/carlprofile.jpeg" alt="Carl Cox">
                            <h3><a href="#">Carl Cox</a></h3>
                        </header>
                    </div>
                        <div class="home_card homesquare">
                            <header>
                                <img src="./images/jimmorrison1.jpeg" alt="Jim Morrison">
                                <h3><a href="#">Jim Morrison</a></h3>
                            </header>
                        </div>
                    </div>
        </section>

     </main>
     <script type ="text/javascript" src="./functions.js"></script>
</body>
</html>