<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/test.css">
  <script src="https://kit.fontawesome.com/429ff7fb53.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One&family=Chewy&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">

</head>
<body>
    {{>header}} 




    <section id="aboutus">
        <h1 class="about-title">Why Choose Pedigree Pet Care?</h1>

            <div class="boxone">

                <div class ="about-img1">
                    <img src= "/image/puppykitten.jpeg" alt="puppy and kitten">
                </div>

            <div class="contentone">
                <h2>Our Promise To You</h2>

                 <p>We are family run pet parents and animal lovers who treat your pets like our own. We provide only the best of care. Having our own pets we know how important they are and how difficult it can be to leave them or give them the time and care they need. All pets have their own personalities so we take our time to get to know and bond with your pet. Knowing they have fun whilst being propery looked after is important to us.</p>

            </div>

        </div>

         <div class="boxtwo">

               

            <div class="contenttwo">
                <h2>A little About Us</h2>

                 <p>Based in North Leeds, we have over 11 years experience with dogs and smaller pets and provide caring pet services in the North of Leeds. We love connecting with animals and creating everlasting relationships. We care for your furry family members as if they were our own and ensure they receive the highest quality care.</p>

            </div>

             <div class ="about-img2">
                    <img src= "/image/puppykitten.jpeg" alt="puppy and kitten">
                </div>

        </div>


            <div class="boxthree">

                <div class ="about-img3">
                    <img src= "/image/puppykitten.jpeg" alt="puppy and kitten">
                </div>

            <div class="contentthree">
                <h2>Peace Of Mind</h2>

                 <p>All staff are DBS checked, First Aid trained and fully insured. We take your pets care seriously and are licenced with Leeds City Council. Our friendly staff are available to answer any questions you have and will if requested provide you with regular updates and pictures.</p>

            </div>

        </div>

    </section>

          

        {{!-- <h2 class="about-subtitle">A Little About Us</h2>

        <p class="about-para">Based in North Leeds, we have over 11 years experience with dogs and smaller pets and provide caring pet services in the North of Leeds. We love connecting with animals and creating everlasting relationships. We care for your furry family members as if they were our own and ensure they receive the highest quality care.</p>

        <h2 class="about-subtitle">Peace Of Mind</h2>

        <p class="about-para">All staff are DBS checked, First Aid trained and fully insured. We take your pets care seriously and are licenced with Leeds City Council. Our friendly staff are available to answer any questions you have and will if requested provide you with regular updates and pictures. </p> --}}








     {{>footer}} 

<script type ="text/javascript" src="./test.js"></script>

</body>
</html>