<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/test.css">
  <script src="https://kit.fontawesome.com/429ff7fb53.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One&family=Chewy&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">

</head>
<body>
    {{>header}} 

   <form class="formcontainer" action="MAILTO:tastethedream@gmail.com?subject=Enquiry" method="post" enctype="text/plain" subject="Enquiry">
      <h1>Contact Us</h1>
      <div class="login">
        <input type="text" class="input" placeholder="Name" name="name">
        <input type="email" class="input" placeholder="Email" name="email">
      </div>
      <div class="subject">
        <input type="text" class="input" placeholder="Subject" name="subject">
      </div>
      <div class="message">
        <textarea class="textarea" placeholder="Your Message" name="message"></textarea>
      </div>
      <div class="btn-submit">
        <input type= "submit" value="Submit" id="btn">
        </div>
        <div class="btn-reset">
          <input type= "reset" value="Reset" id="btn">
        </div>



    </form>
    

   






     {{>footer}} 

<script type ="text/javascript" src="./test.js"></script>

</body>
</html>