<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/test.css">
  <script src="https://kit.fontawesome.com/429ff7fb53.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One&family=Chewy&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">

</head>
<body>
    {{>header}} 
    
 <section id="our-services">
<h1>Our Services</h1>

<p>Here at Pedigree Pet Care we strive to bring our customers what they need. If you do not see the service you need below please call or e-mail us with your requirements and we will provide you with a bespoke quotation.</p>

<div class="service-container">

    <div class="service-box">
      <h3>Dog Walking</h3>
      <table>
        <tr>
          <th>Dog walking</th>
          <td>One hour walk</td>
          <td>£10.00</td>
        </tr>

        <tr>
          <th>Dog walking</th>
          <td>Half hour walk</td>
          <td>£6.50</td>
        </tr>
      </table>
      <img class="walk-img"  src="/image/doglead.png" alt="dogs walking" style="width:400px; vertical-align: middle;">
    </div>
    <div class="service-box">
      <h3> Boarding</h3>
      <table>
        <tr>
          <th>Dog Boarding</th>
          <td> 24 hour stay from a pre arranged time. A one hour grace period for collection is included, after this a half day fee is applied. Earliest drop of 8am. Latest collection 7pm.</td>
          <td>£25.00</td>
        </tr>

        <tr>
          <th>Additional dogs </th>
          <td>Additional dogs from the same home are charged at half price.</td>
          <td>£12.50</td>
        </tr>

       

        <tr>
          <th>Boarding more than 24 hours </th>
          <td>If you require boarding for longer than 24 hours, the first 24 hours is charged at £25 then £12.50 for each subsequent 24 hour period. Same t&c's apply.</td>
          <td>£12.50</td>
        </tr>
       
        <tr>
          <th>Smaller Pet Boarding </th>
          <td>24 hour stay from a pre arranged time. A one hour grace period for collection is included, after this a half day fee is applied. Earliest drop of 8am. Latest collection 7pm.</td>
          <td>£8.00</td>
        </tr>


      </table>
    </div>
    <div class="service-box">
      <h3>Pet Care Services</h3>
      <table>
        <tr>
          <th>Puppy Sitting</th>
          <td> One puppy for 30 minutes</td>
          <td>£7.00</td>
        </tr>

        <tr>
          <th>Pet Sitting </th>
          <td> Up to two pets, one visit per day.</td>
          <td>£6.50</td>
        </tr>

        <tr>
          <th>Pet Sitting </th>
          <td> Up to two pets, two visits per day.</td>
          <td>£12.50</td>
        </tr>

      


      </table>
    </div>
    
    <div class="service-box">
      <h3>Day Care</h3>
      <table>
        <tr>
          <th> Day Care </th>
          <td>From 10am to 4pm. Includes collection from and return to your home, two walks per day, supervised play, socialisation and rest time in a comfortable home and secure garden. </td>
          <td>£20.00</td>
        </tr>

        
      </table>
    </div>
    
</div>

</section>



     {{>footer}} 

<script type ="text/javascript" src="./test.js"></script>

</body>
</html>