<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="/css/test.css">
  <script src="https://kit.fontawesome.com/429ff7fb53.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One&family=Chewy&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">

</head>
<body>
    {{>header}} 
    

<h1 class="terms">Terms and Conditions</h1>

<div class="cards">
  <div class="card">
    <h3>Our Legal Requirements</h3>
      <ul>
        <li>We are licenced via Leeds City Council. Licence number 18/00016/COMM/19</li>
        <li>All our staff are insured,DBS checked and first aid trained. Documentation can be viewed on request</li>
        <li>We will not accept dogs registered under the Dangerous Dogs Act 1991 or the Dangerous Wild Animals Act 1976</li>
        <li>All dogs will be walked on a lead. We will only allow well behaved dogs with good recall and your permission to be walked off lead</li>
      </ul>

  </div>
  <div class="card">
    <h3>Pet Owner Legal Requirements</h3>
      <ul>
        <li>It is a legal requirement and a condition of contract with Pedigree Pet Care Leeds that your dog has an identification tag and is microchipped</li>
        <li>Owners are responsible and must ensure that their dog/pets are up to date with their vaccinations, flea, tic and de-wormer treatments. Pedigree Pet Care Leeds reserves the right to ask for this information</li>
        <li>It is preferable that dogs are spayed or neutured if over a year old. Females in season unfortunately cannot be walked.</li>
        <li>Owners are responsible for full liability for any loss or damage caused by their dog and any third party claims whilst been walked in our care</li>
        
      </ul>
  </div>
  <div class="card">

    <h3>Trial Period</h3>
      <ul>
        <li>All dogs will have a 4 week trial period to adjust and bond to their walker and to fit in and behave well with other dogs. Pedigree Pet Care Leeds reserve the right to discontinue their service during this time if dogs/pets do not meet the requirement</li>
        <li>Owners are to make full disclosure of any characteristic problems which might make your dog unsuitable for walking, home boarding or day care, including behavioral or health problems, antisocial behavior, aggression, incontinence, lack of house training, excessive loud barking or whining. Failure to disclose any information which might render the owner’s dog unsuitable for these services will be deemed a fundamental breach of our agreement</li>
      </ul>
        
  </div>
  <div class="card">
    <h3>Emergencies</h3>
      <ul>
        <li>It is the responsibility of the owner to update emergency contact details</li>
        <li>We will make every effort to contact the owner in the event of an emergency. We recommend owners pets are insured and that we are provided with a trusted third party contact number should we be unable to contact you. Pedigree Pet Care Leeds reserve the right to make decisions regarding your dog’s health provided it is at all times acting in the best interests of the dog and on the advice of a veterinary surgeon</li>
        <li>Owners are responsible for payment of ALL veterinary fees</li>
      </ul>

  </div>
  <div class="card">
    <h3>Security</h3>
      <ul>
        <li>Your key will be kept securely, away from any personal information and will not be identifiable with your property</li>
        <li>All personal information will be kept securely and never shared or discussed in compliance with the Data Protection Act</li>
      </ul>

  </div>
  <div class="card">

    <h3>Payment</h3>
      <ul>
        <li>Payments are due via cash or bank standing order on a weekly basis every Friday for walks</li>
        <li>A 50% deposit is required to secure your place for Home Boarding. Home Boarding deposits are non-refundable after a successful trial</li>
        <li>One off walks will require cash only payments on the day of the walk</li>
        <li>In accordance with the Late Payment Of Commercial Debts Act 1988 amended 1998 & 2002, we will charge in the event of late payment £1 for each day the payment is late</li>
      </ul>
  </div>
  <div class="card">
    <h3>Holidays and Breaks</h3>
      <ul>
        <li>Pedigree Pet Care Leeds will NOT charge you for holidays or breaks where you dont need our services</li>
        <li>If you are absent from our services for longer than 6 weeks and you wish to keep your slot, we may need to negotiate. This will be based on consistently using our services previously for four weeks or more</li>
        
      </ul>

  </div>
  <div class="card">
    <h3>Cancellation or Terminiation</h3>
      <ul>
        <li>We will need a minimum of 24 hours notice to cancel a dog walk service after which the full charge will be payable</li>
        <li>For home boarding please provide 2 weeks notice should you need to cancel</li>
        <li>For walking contracts, a minimum of one weeks notice is required to terminate your walks</li>
        
      </ul>

  </div>
  <div class="card">
    <h3>Flexibility</h3>
      <ul>
        <li>We are fully insured to walk up to 6 dogs at a time but make every effort to have smaller group walks or one to one.  If in a group your dog will be matched and walked with other friendly dogs of a similar size and nature</li>
        <li>We make every effort to arrive at the time agreed. Depending on road conditions and unforeseen circumstances please allow up to 30 minutes after your booked time slot</li>
        <li>Please note that your time starts from when we start our walks. More often than not to meet business requirements your dog may be out for longer than the allotted time. Lunchtime walks are covered between 11am and 1.30pm inclusive</li>
        <li>We will make every effort to accommodate changes to your needs however the more notice you can give us the better. Please note due to other demands, changes may not always be possible</li>
        
      </ul>

  </div>
  
</div>


     {{>footer}} 

<script type ="text/javascript" src="./test.js"></script>

</body>
</html>