<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="/css/test.css">
  <script src="https://kit.fontawesome.com/429ff7fb53.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One&family=Chewy&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">

</head>
<body>
    {{>header}} 
    

<h1>terms</h1>




     {{>footer}} 

<script type ="text/javascript" src="./test.js"></script>

</body>
</html>