<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedigree Pet Care</title>
    <link rel="stylesheet" href="/css/test.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One&family=Chewy&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
   <header>
        <div class="logo">
            <img src="/image/logo.png" alt="Company Logo">
            <div class="title">
                <h1  class= "maintitle">  Welcome to Pedigree Pet Care Leeds</h1>
                <h2 class="subtitle">Dog walking, boarding, day care and pet visiting services</h2>
            </div>
        </div>
        

        <nav>
            <ul>
                <li class="current"><a href="test.ejs">Home</a></li>
                <li><a href="about.ejs">About Us</a></li>
                <li><a href="services.ejs">Our Services</a></li>
                <li><a href="testimonials.ejs">Testimonials</a></li>
                <li><a href="contact.ejs">Contact us</a></li>
            </ul>
    </header>









    <script type ="text/javascript" src="./test.js"></script>

</body>
</html>