<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedigree Pet Care</title>
    <link rel="stylesheet" href="/css/test.css">

    <script src="https://kit.fontawesome.com/429ff7fb53.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One&family=Chewy&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">

</head>

<body>


    {{>header}} 
  

    <section id="home-page">
        <h1 class="home-title">Welcome To Pedigree Pet Care Leeds</h1>
        <h2 class="home-subtitle">Professional and reliable dog walking, boarding, daycare and pet visiting services</h2>
        <div class="image-container">
        <img class ="dog-walk-image" src="/image/dogwalk2.gif" alt="Dog Walk Gif">
        </div>

    </section>


     {{>footer}} 

    <script type ="text/javascript" src="./test.js"></script

</body>
</html>