<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/test.css">
  <script src="https://kit.fontawesome.com/429ff7fb53.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chau+Philomene+One&family=Chewy&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">

</head>
<body>
    {{>header}} 
    

<h1>What Our Customers Say About Us</h1>
<div class="carousel">
    <button class="carousel-btn carousel__btn--left">
     <i class="fas fa-chevron-left"></i>

   </button> 
   <div class="carousel__track-container">
     <ul class="carousel__track">
       <li class="carousel__slide slide1 current-slide">
         <p>Review 1</p>
         
       </li>
       <li class="carousel__slide slide2">
         <p>Review 2</p>
       </li>
       <li class="carousel__slide slide3">
         <p>Review 3</p>
       </li>
       <li class="carousel__slide slide4">
         <p>Review 4</p>
       </li>
       <li class="carousel__slide slide5">
         <p>Review 5</p>
       </li>
     </ul>

   </div>

   <button class="carousel-btn carousel__btn--right">
     <i class="fas fa-chevron-right"></i>
   </button>


<div class="carousel__nav">
  <button class="carousel__indicator current-slide"></button>
  <button class="carousel__indicator"></button>
  <button class="carousel__indicator"></button>
  <button class="carousel__indicator"></button>
  <button class="carousel__indicator"></button>
</div>

</div>




     {{>footer}} 

<script type ="text/javascript" src="./test.js"></script>

</body>
</html>