<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedigree Pet Care</title>
    <link rel="stylesheet" href="/css/test.css">
</head>
<body>
    <h1>Welcome to Pedigree Pet Care Leeds</h1>
    <h2>Dog walking, pet daycare and boarding services in North Leeds</h2>
    <h3>Professional, reliable, fully insured and licenced</h3>
    <img src="/image/noodles.jpeg" alt="Noodles">








    <script type ="text/javascript" src="./test.js"></script>

</body>
</html>