<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <title>Template Web Page | Welcome</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header>
        <div class="container">
            <div class="logo">
                <!-- put your img link or company header here -->
                <h1> <span class= "highlight">Logo</span>  or header here</h1>

            </div>
            <!-- put your nav bar here -->
            <nav>
                <ul>
                    <li class="current"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="services.html">Our Services</a></li>
                </ul>

            </nav>
        </div>

    </header>

    <!-- //add showcase element here -->

    <section id= "showcase">
        <div class="container">
            <h1>Showcase Title Here</h1>
            <p>Showcase text here. what do you do? What do you offer?</p>
        </div>

    </section>
<!-- 
    add newsletter sign up here -->
    <section id="newsletter">
        <div class= "container">
            <h1>Subscribe to our newsletter</h1>
            <form action="">
                <input type= "email" placeholder="Enter your email address">
                <button type="submit" class="button_1">Subscribe</button>
            </form>

        </div>

    </section>

    <!-- //add another section here -->
     <section id="boxes">
        <div class="container">
            <div class="box">
                <img src="./images/service1.jpeg" alt="">
                <h3>Service 1</h3>
                <p>service 1 is awesome</p>
            </div>
            <div class="box">
                <img src="./images/service2.jpeg" alt="">
                <h3>Service 2</h3>
                <p>service 2 is awesome</p>
            </div>
            <div class="box">
                <img src="./images/service3.jpeg" alt="">
                <h3>Service 3</h3>
                <p>service 3 is awesome</p>
            </div>
        </div>

     </section>

     <footer>
         <p>Template Web Page, copyright &copy; 2020</p>
     </footer>
    </body>
</html>
