<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <title>Template Web Page | Our Services</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header>
        <div class="container">
            <div class="logo">
                <!-- put your img link or company header here -->
                <h1> <span class= "highlight">Logo</span>  or header here</h1>

            </div>
            <!-- put your nav bar here -->
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li ><a href="about.html">About Us</a></li>
                    <li class="current"><a href="services.html">Our Services</a></li>
                </ul>

            </nav>
        </div>

    </header>

    
 
    <section id="newsletter">
        <div class= "container">
            <h1>Subscribe to our newsletter</h1>
            <form action="">
                <input type= "email" placeholder="Enter your email address">
                <button type="submit" class="button_1">Subscribe</button>
            </form>

        </div>

    </section>

    <!-- //add another section here -->
     <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class= "pagetitle">Our Services</h1>
               <ul id="services">
                    <li>
                        <h3>Service One</h3>
                        <p>debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum </p>
                        <p>Pricing £100,000</p>
                    </li>
                    <li>
                        <h3>Service Two</h3>
                        <p>debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum </p>
                        <p>Pricing £200,000</p>
                    </li>
                    <li>
                        <h3>Service Three</h3>
                        <p>debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum </p>
                        <p>Pricing £300,000</p>
                    </li>
                 </ul>

            </article>

                <aside id="sidebar">
                    <div class="dark">
                        <h3>Contact us for a quote</h3>
                        <form class="quote">
                        <div>
                            <label Name></label> <br>
                            <input type="text" placeholder="Name">
                    </div>
                    <div>
                        <label>Email</label> <br>
                        <input type="email" placeholder="Email Address">
                    </div>
                    <div>
                        <label>Message</label> <br>
                        <textarea placeholder="Message"></textarea>
                    </div>
                        <button class="button_1" type="submit">Send</button>
                     </form>
                     </div>
                </aside>
            </div>

     </section>

     <footer>
         <p>Template Web Page, copyright &copy; 2020</p>
     </footer>
    </body>
</html>
