<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/test.css">
</head>
<body>
    <footer id="footer">
        <p>Copyright &copy; <script> document.write(new Date().getFullYear())</script> Pedigree Pet Care Leeds. All Rights Reserved</p>
        <p>This site was designed by Dawn &#x1F339;</p>
    </footer>
    
</body>
</html>