<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pedigree Pet Care </title>
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

  <header>
    

    <nav class="navbar">
        <div class ="nav-container">
            <img src="/image/logo.jpg" alt="Company Logo" style="width:200px; vertical-align: middle;">
        <ul>

      
            <li><a href="/">Home</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="services">Our Services</a></li>
            <li><a href="testimonials">Testimonials</a></li>
            <li><a href="terms">Terms and Conditions</a></li>
            <li><a href="contact">Contact us</a></li>
        </ul>
    </div>
</header>
  
</body>
</html>


