:root{
    --slatelight: #567582;
    --slatedark: #464D5C;
    --latte: #F7DDA4;
    --cappuccino: #B89068;
    font-size: 16px;
}


header{
    background: var(--slatelight);
    min-height: 50px;
    border-bottom: var(--slatedark) 3px solid ;
    display: flex;
    

}

img{
    margin-left: 25px;
    margin-top: 0;
   
}

 /* header .title{
    
    text-align: right; 
} 

.maintitle{
    font-size: 36px;
}

.subtitle{
    font-size: 20px;  */
}
 /* style the <a> links in the header*/

  nav a{
     color: var(--latte);
     text-decoration: none;
     text-transform: uppercase;
     font-family: Montserrat;
 } 

 nav ul{
    
     padding: 0px;
     margin: 0px;
     display: inline-flex;
     vertical-align: middle;
     list-style-type: none;
   
  
    

 }

 nav li{
      cursor: pointer;
      padding: 3rem;
      color: var(--latte);
}


/* the current page on the navbar */
 header a{
    color: var(--latte);
    text-decoration: none;
     text-transform: uppercase; 
     font-family: Montserrat;
    

}
  header .current a{
     color: var(--cappuccino);
     font-weight: bold;
 }

 /* hover state */
 header a:hover{
     color: var(--cappuccino);
     font-weight: bold;
 }

 .navbar ul.active{
     max-height: 100vh;
 }

 /* Home Page */ 

 #home-page{
     background-color: var(--latte);
     padding-bottom: 30px;
     
 }

 .home-title{
    font-family: Montserrat;
    font-weight: bold;
    color: var(--slatedark);
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0; 
    padding-top: 40px;
    
    line-height: 1.5;
 }

 .home-subtitle{
    font-family: Montserrat;
    font-weight: bold;
    color: var(--slatedark);
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 30px;
    line-height: 1.5;
 }

 .image-container{
    text-align: center;
 }

 .dog-walk-image{
     border-radius: 50%;
     
 }


 /* footer */

 #footer{
     text-align: center;
     font-family: Montserrat;
     font-size: 12px;
     font-weight: bold;
     color: var(--latte);
     background-color: var(--slatelight);
     border-top: var(--slatedark) 3px solid;
 }
/* 

 
   /* media queries  */
 
@media all and (max-width: 700px){
    nav ul{
        flex-direction: column;
    }

    nav li{
        text-align: center;
    }
}












 